body{
    width:100%;
    font-family: 'Roboto', sans-serif;
    background-image: url(../images/kitchen.jpg);
    background-repeat: repeat;
}

#wrapper{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    background-image: url(../images/light-tile.gif);
    background-repeat: repeat;
    padding: 5%;
    border: 8px solid black;
}

h1{
    font-size: 5em;
    font-weight: 100;
}


input{
    width: 300px;
    padding: 10px;
    font-size: .8em;
}

button{
    width: 50px;
    padding: 10px;
    font-size: .8em;
}



h4{
    font-weight: 100;
    font-size: 3.5em;
}


table{
    margin: 0 auto;
    text-align: center;
    font-size: 1.4em;
    font-weight: 500;
}

td{
    padding: 5px;
}